<!-- <div class="cover">
  <div class="cover_filter">
    <div class="container">
      <div class="cover_logo">
        <img src="/assets/images/Logo_Final-02.png" alt="Logo_Final-02" />
      </div>
      <div class="cover_text">
        <div class="header">NEXT STATION</div>
        <div class="subHeader mb-3">
          <span class="subHeader-is">IS</span>
          <h3 class="subheader">The Journey</h3>
        </div>
        <p>On December 10th 2022</p>
        <p>at Wintree City Resort Chiang Mai</p>
      </div>
    </div>
  </div>
</div> -->
<div>
   <video width="100%" preload="none" autoplay loop>
      <source id="video_01" src="/assets/videos/video01.mp4" type="video/mp4" />
   </video>
</div>
<div class="introduction">
   <div class="container">
      <div class="introduction_contents">
         <div class="col-sm-12 col-lg-6">
            <div class="header_two">WARM WELCOME,</div>
            <div class="header_two">GET A CHILL</div>
            <div class="underline"></div>
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eos a voluptate maxime quae. Nemo, veritatis! Iste, eius ducimus
               consequatur est sequi officia suscipit eligendi dignissimos soluta inventore, tempore mollitia nisi quae quas reiciendis unde id
               pariatur eaque dolores deserunt. Quasi placeat magnam laudantium neque atque impedit numquam quibusdam consequatur deserunt? Vitae
               aliquid reiciendis similique animi itaque maiores nesciunt explicabo? Suscipit architecto eveniet, mollitia id iste nihil quidem natus
               dicta ad quae perferendis accusamus excepturi dignissimos ducimus maxime inventore debitis vero nostrum. Excepturi praesentium
               architecto odit, autem corporis voluptates possimus quas quae facere placeat, neque sed maxime enim earum vel?
            </p>
         </div>
         <div class="secondSection_image col-sm-12 col-lg-6 d-flex justify-content-center">
            <img src="../assets/images/0611_BetterTogether7863_edit.jpg" alt="" />
            <div class="text_onimg"><h3 class="text_img">Welcome</h3></div>
         </div>
      </div>
   </div>
</div>
<div class="gallery">
   <div class="container">
      <div class="d-flex justify-content-center">
         <div class="header_imgslide">#NEXT_STATION_IS</div>
      </div>
      <!-- <a target="_blank" href="https://goo.gl/maps/mFZzeGujnEvJSJnt7">dasdasd </a> -->
      <swiper
         [slidesPerView]="3"
         [spaceBetween]="30"
         [pagination]="{
            clickable: true
         }"
      >
         <ng-template swiperSlide
            ><img
               class="img_swiper"
               src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwCySt7uhIB7ij_M5mH5Kwvi6HLkJuaHkK-w&usqp=CAU" /></ng-template
         ><ng-template swiperSlide
            ><img
               class="img_swiper"
               src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwCySt7uhIB7ij_M5mH5Kwvi6HLkJuaHkK-w&usqp=CAU" /></ng-template
         ><ng-template swiperSlide
            ><img
               class="img_swiper"
               src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwCySt7uhIB7ij_M5mH5Kwvi6HLkJuaHkK-w&usqp=CAU" /></ng-template
         ><ng-template swiperSlide
            ><img
               class="img_swiper"
               src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwCySt7uhIB7ij_M5mH5Kwvi6HLkJuaHkK-w&usqp=CAU" /></ng-template
         ><ng-template swiperSlide
            ><img class="img_swiper" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwCySt7uhIB7ij_M5mH5Kwvi6HLkJuaHkK-w&usqp=CAU"
         /></ng-template>
         <ng-template swiperSlide
            ><img class="img_swiper" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwCySt7uhIB7ij_M5mH5Kwvi6HLkJuaHkK-w&usqp=CAU"
         /></ng-template>
      </swiper>
   </div>
</div>
<div class="location">
   <div class="container d-flex flex-column align-items-center">
      <div class="header" style="color: #fbfbfb">LOCATION</div>
      <div class="location_line"></div>
      <div class="location_detail">
         <p class="location-text">Wintree City Resort Chiang Mai</p>
         <p class="location-text">72 Chiangmai-Lampang Road, Chiangmai city, Chiangmai</p>
         <img class="img_map" src="assets/images/map.png" (click)="location()" />
      </div>
      <div class="row mt-4" style="width: 60%">
         <div class="col-2">
            <h5 style="color: white; margin-top: 15px">SCHEDULE</h5>
         </div>
         <div class="col-1 border-left"></div>
         <div class="col-3">
            <h5 style="color: white">Engagement</h5>
            <p class="location-text">13.00-15.00 น.</p>
         </div>
         <div class="col-3">
            <h5 style="color: white">Caremony</h5>
            <p class="location-text">13.00-15.00 น.</p>
         </div>
         <div class="col-3">
            <h5 style="color: white">After Party</h5>
            <p class="location-text">13.00-15.00 น.</p>
         </div>
      </div>
   </div>
</div>
<div class="checkIn">
   <div class="container d-flex justify-content-center">
      <div class="header">CHECK IN</div>
   </div>
   <div class="container d-flex justify-content-center mb-5">
      <p class="suptextthai">*รบกวนกรอกแบบสอบถาม เพื่อทางทีมงานจะได้จัดที่นั่งให้เหมาะสมกับทุกท่าน</p>
   </div>
   <div class="row col-11 justify-content-center">
      <div class="col-6">
         <div class="img_checkin col-sm-12 col-lg-6 d-flex justify-content-center" style="border-radius: 50% !important">
            <!-- <img
          src="/assets/images/0611_BetterTogether7879_edit.jpg"
          style="
            border-top-right-radius: 30%;
            border-bottom-right-radius: 30%;
            border-top-left-radius: 30%;
            border-bottom-left-radius: 30%;
            overflow: hidden;
          "
        /> -->
         </div>

         <h5 class="head_color_primary">DRESS CODE</h5>
         <div>
            <div class="col-4">
               <div style="position: relative">
                  <div style="position: absolute">
                     <span class="dot2"></span>
                  </div>
                  <div style="position: absolute; right: 70px; top: 8px">
                     <span class="color ml-5">Being</span>
                  </div>
               </div>
            </div>
            <div class="col-4">
               <div style="position: relative; top: 60px">
                  <div style="position: absolute">
                     <span class="dot1"></span>
                  </div>
                  <div style="position: absolute; right: 66px; top: 8px">
                     <span class="color ml-5">Brown</span>
                  </div>
               </div>
            </div>
            <!-- <p class="color"><span class="dot1"></span>Being</p>
        <p class="color"><span class="dot2"></span>Brown</p> -->
         </div>
      </div>
      <div class="col-6">
         <div class="col-12 margin-list">
            <label>ชื่อ-สกุล</label>
            <input class="form-control" type="text" />
         </div>
         <div class="row margin-list">
            <div class="col-8">
               <label>ชื่อเล่น</label>
               <input class="form-control" type="text" />
            </div>
            <div class="col-4">
               <label>จำนวนผู้ติดตาม</label>
               <input class="form-control" type="text" />
            </div>
         </div>
         <div class="row margin-list" style="margin-left: 10">
            <label>ความสัมพันธ์กับบ่าว-สาว</label>
            <div class="col-6">
               <div class="form-check">
                  <input
                     class="form-check-input"
                     type="checkbox"
                     value=""
                     id="flexCheckDefault"
                     (change)="checkrelation('1')"
                     [checked]="relation == 1"
                  />
                  <label class="form-check-label" for="flexCheckDefault"> ญาติเจ้าบ่าว </label>
               </div>
            </div>
            <div class="col-6">
               <div class="form-check">
                  <input
                     class="form-check-input"
                     type="checkbox"
                     value=""
                     id="flexCheckDefault"
                     (change)="checkrelation('2')"
                     [checked]="relation == 2"
                  />
                  <label class="form-check-label" for="flexCheckDefault"> ญาติเจ้าสาว </label>
               </div>
            </div>
            <div class="col-6">
               <div class="form-check">
                  <input
                     class="form-check-input"
                     type="checkbox"
                     value=""
                     id="flexCheckDefault"
                     (change)="checkrelation('3')"
                     [checked]="relation == 3"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                     เพื่อนเจ้าบ่าว
                     <p class="labelcheckbox">(ประถม-มัธยม)</p>
                  </label>
               </div>
            </div>
            <div class="col-6">
               <div class="form-check">
                  <input
                     class="form-check-input"
                     type="checkbox"
                     value=""
                     id="flexCheckDefault"
                     (change)="checkrelation('4')"
                     [checked]="relation == 4"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                     เพื่อนเจ้าสาว
                     <p class="labelcheckbox">(ประถม-มัธยม)</p>
                  </label>
               </div>
            </div>
            <div class="col-6">
               <div class="form-check">
                  <input
                     class="form-check-input"
                     type="checkbox"
                     value=""
                     id="flexCheckDefault"
                     (change)="checkrelation('5')"
                     [checked]="relation == 5"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                     ที่ทำงาน
                     <p class="labelcheckbox">(เจ้าบ่าว)</p>
                  </label>
               </div>
            </div>
            <div class="col-6">
               <div class="form-check">
                  <input
                     class="form-check-input"
                     type="checkbox"
                     value=""
                     id="flexCheckDefault"
                     (change)="checkrelation('6')"
                     [checked]="relation == 6"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                     ที่ทำงาน
                     <p class="labelcheckbox">(เจ้าสาว)</p>
                  </label>
               </div>
            </div>
         </div>
         <div class="row margin-list" style="margin-left: 10">
            <label>คุณสะดวกมาร่วมงานหรือไม่?</label>
            <div class="col-6">
               <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="checkgo1" (change)="checkgofunc1()" />
                  <label class="form-check-label" for="flexCheckChecked"> สะดวก </label>
               </div>
            </div>
            <div class="col-6">
               <div class="form-check">
                  <input (change)="checkgofunc2()" [checked]="checkgo2" class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                  <label class="form-check-label" for="flexCheckChecked"> ไม่สะดวก </label>
               </div>
            </div>
         </div>
         <div class="row margin-list" style="margin-left: 10">
            <label> คุณสะดวกมาร่วมงานช่วงไหนบ้าง </label>
            <div class="col-6">
               <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                  <label class="form-check-label" for="flexCheckChecked"> งานพิธี </label>
               </div>
            </div>
            <div class="col-6">
               <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                  <label class="form-check-label" for="flexCheckChecked"> งานเลี้ยงฉลอง </label>
               </div>
            </div>
         </div>
         <div class="col-12">
            <label class="mb-3"> อวยพรพวกเราได้นะ </label>
            <div class="form-floating">
               <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
               <label for="floatingTextarea2">Comments</label>
            </div>
         </div>
         <div class="mt-5">
            <button type="button" class="btn btn-primary">SUBMIT</button>
         </div>
      </div>
   </div>
</div>
<div class="footer">
   <div class="container">
      <div></div>
      <div></div>
   </div>
</div>
