@import "../../../assets/styles/_fonts.css";

.header {
  font-size: 60px;
  font-family: "montserrat";
  overflow: hidden;
  overflow-wrap: break-word;
  color: #7b614a;
  font-weight: 600;
}
label {
  font-family: "kanit" !important;
  font-weight: 300;
}
.modaltext{
  font-family: "kanit" !important;
}
.header_two {
  font-size: 5vw;
  font-family: "montserrat";
  overflow: hidden;
  overflow-wrap: break-word;
  color: #7b614a;
  font-weight: 300;
}
.header_imgslide {
  font-size: 6vw;
  font-family: "montserrat";
  z-index: 20;
  color: #fbfbfb;
  font-weight: 300;
  margin-bottom: 20px;
}
.underline {
  border: 1px solid #7b614a;
  width: 50%;
  margin-top: 24px;
  margin-bottom: 24px;
}
// h5 {
//   font-family: "raleway";
// }
// h4 {
//   font-family: "kanit";
// }
h3 {
  font-family: "martabat";
}
h3.subheader {
  display: inline;
  font-size: 50px;
  text-decoration: underline;
}
h3.text_img {
  color: black;
  font-size: 80px;
}

p {
  font-family: "montserrat" !important;
  color: #7b614a;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
span.subHeader-is {
  font-size: 50px;
  font-family: "montserrat";
  font-weight: 300;
  color: #7b614a;
}

.cover {
  background-image: url("../../../assets/images/0611_BetterTogether7779_edit.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 35%;
  height: 920px;
  .cover_filter {
    height: 100%;
    width: 100%;
    background: #f8f9fa66;
  }
  .cover_logo {
    display: flex;
    justify-content: center;
    padding: 30px;
    img {
      width: 100px;
    }
  }
  .cover_text {
    width: 70%;
  }
}

.introduction {
  padding: 30px;
  background: #f0efe6;
  .introduction_contents {
    display: flex;
    flex-wrap: wrap;
  }
  .secondSection_image {
    position: relative;
    img {
      width: 90%;
      border-radius: 50%;
    }
  }
}
.text_onimg {
  position: absolute;
  bottom: 20%;
}
.gallery {
  height: 70vw;
  padding-top: 30px;
  background: #7b614a;
}

.location {
  height: 800px;
  padding: 30px;
  background: #eedbc5;
  .location_line {
    height: 2px;
    width: 40%;
    background: #f0efe6;
  }
}
.location_detail {
  color: #f0efe6;
  margin-top: 20px;
  justify-content: center;
  text-align: center;
}
p.location-text {
  color: #ffffff;
}
.img_map {
  margin-top: 50px;
  width: 60vw;
  cursor: pointer;
}
.border-left {
  border-right: 2px solid #ffffff;
}
.checkIn {
  height: 225%;
  padding: 30px;
  background: #f0efe6;
}
@media screen and (max-width: 1250px) {
  .checkIn {
    height: 290% !important;
    padding: 30px;
    background: #f0efe6;
  }
}
.footer {
  height: 250px;
  padding: 30px;
  background: #7b614a;
}

@media only screen and (max-width: 768px) {
  .cover {
    background-position: 0 40%;
    height: 650px;
  }
}

@media only screen and (max-width: 576px) {
  .header {
    font-size: 28px;
    font-family: "raleway";
    // overflow: hidden;
    // overflow-wrap: break-word;
    color: #7b614a;
  }
  .subHeader {
    font-size: 24px;
  }
  .cover {
    background-position: 0 0;
    // height: 100%;
    .cover_logo {
      img {
        width: 70px;
      }
    }
    .cover_text {
      padding: 15px;
      position: absolute;
      bottom: 30%;
    }
  }
}
.margin-list {
  margin-bottom: 20px;
}
label {
  margin-bottom: 5px;
}
.btn-primary {
  background: #7b614a;
  color: #ffffff;
  border: none;
  width: 240px;
  height: 50px;
  font-size: 24px;
}
.btn-primary1 {
  background: #7b614a;
  color: #ffffff;
  border: none;
  font-family: "kanit" !important;
  // width: 200px;
  // height: 30px;
  font-size: 16px;
}
.btn-primary:focus {
  border: none;
}
.head_color_primary {
  font-size: 24px;
  color: #7b614a;
}
.dot1 {
  height: 40px;
  width: 40px;
  background-color: #7b614a;
  border-radius: 50%;
  display: inline-block;
}
.dot2 {
  height: 40px;
  width: 40px;
  background-color: #eedbc5;
  border-radius: 50%;
  display: inline-block;
}
span.color {
  color: #7b614a;
}
img.img_checkin{
  width: 30vw;
}
@import "~swiper/css";
@import "~swiper/css/pagination";
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 50%;
  height: 50%;
  object-fit: cover;
}
.img_swiper {
  display: block;
  width: 90%;
  height: 50%;
  object-fit: cover;
}
input[type="checkbox"] {
  /* IE opacity hacks */
  background: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  border: none;
}

.form-check-label {
  margin-top: 10px;
  margin-left: 10px;
}
.form-check {
  margin-top: 15px;
}
p.labelcheckbox {
  font-size: 14px;
  font-family: "kanit" !important;
  font-weight: 300;
}
input[type="checkbox"]:checked {
  background: rgb(207, 207, 207);
}
input[type="checkbox"]:focus {
  border-color: none !important;
}
.suptextthai {
  font-family: "kanit" !important;
  font-weight: 300;
  font-size: 20px;
}
.form-check-input:focus {
  border-color: none !important;
}
.form-control:focus {
  border-color: none !important;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: black;
}
.content_img{
  height: 50vh;
}
.textmodal{
  text-align: center;
  justify-content: center;
}