body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

html, body { height: 100%; }
body { margin: 0; }
@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/NotoSansThai-Medium.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 600;
  src: url("./assets/fonts/NotoSansThai-SemiBold.ttf");
}